/* claro */
/* body{
    background: url(/WhatsApp\ Image\ 2023-03-22\ at\ 12.46.31.jpeg)

} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100vh;
    
}

