*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* NAVBAR */
#navbar{
   width: 100%;
  background: rgb(18, 188, 137);
   color: #fff;
   height: 80px;
   position: fixed;

}

#navbar-container{
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-itens{
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-itens li{
  padding: 10px;
}

#logo{
    height: 120px;
    width: auto;
    /* left: 30px; */
    margin-left: -50px;

}

/* primeiro container */

#container1{
    background-color:  #0B1433;
    width: 100%;
    height: 95vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: #eee;
}

#div-container1{
  display: flex;
  /* justify-content: center; */
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
}
.div-one-section2-img{
  margin-top: 110px;
  height: 60vh;
  width: auto;
  margin-left: 250px;
}
#img-section1{
  height: 30px;
  display: flex;
}
.div-one-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 70px;
  margin-bottom: 33px;
 
  margin-top: 50px;
  /* text-shadow: black 0.1em 0.1em 0.1em */
}

.div-one-titulo2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 55px;
  margin-bottom: 5px;
  margin-left: 40px;
}

.div-one-texto {
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* BOTÃO  */
.conteudo-principal-escrito-botao {
  background-color: white;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
  margin-left: 100px;
  margin-top: 80px;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
  cursor: pointer;
  color: #fff;
}




/* 850 */
@media  (max-width: 856px) {
  .div-one-titulo {
    font-size: 40px;
    margin-left: 20px;
  }
  .div-one-titulo2{
    font-size: 30px;
  }
  .div-one-section2-img{
   height: 35vh;
   margin-left: 10px;
   
  }
}

/* @media (min-width : 1438) and (max-width:1476){
  .div-one-titulo {
    margin-left: 60px;
  }
} */


/* and (max-width:1136px) */
/* @media (min-width : 856px){
  .div-one-titulo {
    margin-left: 43px;
  }

  .div-one-section2-img{
    height: 50vh;
    margin-left: 20px;
    
   }
} */



/* @media (min-width : 1136px) and (max-width:1425px){
  .div-one-titulo {
    margin-left: 40px;
    font-size: 60px;
  }

  .div-one-titulo2 {
    font-size :40px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .div-one-section2-img{
    height: 40vh;
    margin-left: 300px;

    
   }
} */

