@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  /*background-image: radial-gradient(circle at 116.45% 25.82%, #82ffff 0, #5593d8 50%, #1d2737 100%);*/
  background-color: #052b58;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  background-color: #2d86a8;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color:white;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid white;
  
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Sarala', cursive;
  font-weight: 400;
  font-size: 64px;
  color: white;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:white;
}

.conteudo-principal-escrito-botao {
  background-color:  white;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 48px;
  color: white;
  padding: 50;
  
  
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 48px;
  font-family: 'Sarala', cursive;
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color:  white;
  margin-bottom: 70px ;
}

.rodape {
   height: 200;
   background-color: #052b58;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}

.conteudo-terciario {
  height: 500px;
  background-color: black;
  border-top: #FFF2E7;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  border-top: 3px solid white;
  
  
}

.conteudo-terciario-titulo {
  color: white;
  align-items: center;
  padding: center;
  text-align: center;
  padding-bottom: 55px;
  
  
}

.colaboladores {
  height: 700px;
  background-color: white;

}

.final {
  border-top: 50px solid black;
height: 150px;
background-color: #052b58;

}
