@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: 0;
}
body{
    height: 100vh;
}

  header{
    position: fixed;
    background:  #0b1433;
    padding: 20px;
    width: 100%;
    height: 30px;
    display: flex;
}

main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
h1{
    padding: 20px;
}

#mapa{
    width: 80%;
}
#tabela {
    width: 100%;
    /* margin-left: 25%; */
    margin-top: 7%;
}

#menu{
    width: 20%;
}

.left{
    width: 80%;
}
.left h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
}
.left span{
    color: #51b3ec;
}
.right{
    width: 20%;
    display: flex;
    gap: 30px;
}
.text-right{
    color: #fff;
    font-size: 1.2rem;
}
.sair_btn{
    padding: 5px;
    /* background: #51b3ec; */
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.sair_btn:hover{
    background: #4a9fcf;
}
.sidebar{
    position: fixed;
    width: 20%;
    height: 100%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: rgb(18, 188, 137);
    transition: 0.5s;
    transition-property: left;
}
.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.sidebar h2{
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background ;
}
.sidebar a:hover{
    background: #1b595e;
}
.sidebar ion-icon{
    padding-right: 10px;
}
label #sidebar_btn{
    z-index: 1;
    position: fixed;
    left: 300px;
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.5s;
    transition-property:color ;
}
label #sidebar_btn:hover{
    color: #51b3ec;
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* .content{
    background: url(/image/img-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
#check{
    display: none;
} */

.identificacao-user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
}
#icon-user{
    height: 20vh;
    width: auto;
}

#img-user{
    height: 120px;
}


table {
    width: 100%;
    margin-bottom: 0.5em;
    table-layout: fixed;
  }
  
  td,
  th {
    padding: 0.7em;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    font-weight: bold;
    background-color: #eee;
  }
  
  label {
    color: #555;
    display: block;
    margin-bottom: 0.2em;
  }

  #continer-principal{
    width: 100%;
    display: flex;

}

.div-pai {
    display: flex;
  }

  .div-filha1 {
    width: 20%;
    background-color: #f0f0f0;
  }

  .div-filha2 {
    width: 80%;
    display: flex;
    justify-content: center;
    /* background-color: #811515; */
  }

  #filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid ;
    padding: 5px;
  }

  .invisivel{
    display: none;
  }

  .uso {
    background-color:#5CB85C;
  }
  .revisao {
    background-color: #e35c33;
  }
  #new-travel {
    margin-left: 10%;
    height: 3rem;
    width: 20%;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size:1.2rem;
    opacity: 1;
    transition: opacity 1s ease 0s;
    border-radius: 20px;
  }

  #new-travel:hover{
    opacity: 0.42;
  }

  .info-aprovada{
    background-color: #3a910c;
  }
  .info-pendente{
    background-color: #d7d94c;
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0 53 114 / 89%);
  }
  .info-arquivo{
    text-decoration: underline;
    color: rgb(0 53 114 / 89%);
    cursor: pointer;
  }