*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}



a{
text-decoration: none;
}

.menu-section img{
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    margin: 0;
    
   
    
}



.div-one{
   /*  margin-left: 30px; */
    color: white;
    height: 100vh;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1536 560L0 560 L0 294.04Q77.23 299.27%2c 72 376.51Q121.15 305.66%2c 192 354.82Q207.3 298.12%2c 264 313.41Q292.4 269.81%2c 336 298.21Q410.3 252.5%2c 456 326.8Q511.63 310.43%2c 528 366.06Q532.27 298.33%2c 600 302.6Q630.53 261.13%2c 672 291.67Q758.05 257.72%2c 792 343.76Q815.4 295.16%2c 864 318.57Q916.32 250.88%2c 984 303.2Q1056.89 256.09%2c 1104 328.98Q1147.5 300.48%2c 1176 343.98Q1218.38 266.36%2c 1296 308.74Q1379.31 272.05%2c 1416 355.35Q1463.63 282.98%2c 1536 330.61z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 352.61Q58.87 339.49%2c 72 398.36Q125.63 331.99%2c 192 385.61Q243.37 316.98%2c 312 368.34Q366.46 302.8%2c 432 357.26Q501.19 354.44%2c 504 423.63Q571.25 370.88%2c 624 438.14Q632.06 374.2%2c 696 382.26Q768.04 334.3%2c 816 406.34Q850.8 321.14%2c 936 355.94Q1015.38 315.32%2c 1056 394.71Q1122.02 340.73%2c 1176 406.74Q1215.9 326.64%2c 1296 366.55Q1381.18 331.74%2c 1416 416.92Q1456.34 337.26%2c 1536 377.6z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 454.36Q48.43 382.79%2c 120 431.22Q183.46 422.68%2c 192 486.14Q260.99 435.13%2c 312 504.11Q342.46 414.57%2c 432 445.03Q455.63 396.65%2c 504 420.28Q558.54 402.82%2c 576 457.36Q603.25 412.61%2c 648 439.85Q704.19 424.04%2c 720 480.23Q745.52 433.75%2c 792 459.27Q878.25 425.51%2c 912 511.76Q927.94 407.7%2c 1032 423.64Q1102.45 374.09%2c 1152 444.54Q1199.58 420.12%2c 1224 467.7Q1240.17 411.88%2c 1296 428.05Q1344.16 404.21%2c 1368 452.37Q1415.88 428.25%2c 1440 476.13Q1506.45 422.59%2c 1560 489.04z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 583.35Q34.13 497.48%2c 120 531.6Q191.69 483.29%2c 240 554.97Q255.32 498.29%2c 312 513.6Q341.85 471.45%2c 384 501.29Q478.03 475.32%2c 504 569.35Q542.36 487.71%2c 624 526.07Q651.64 481.72%2c 696 509.36Q792.73 486.09%2c 816 582.81Q839.83 534.63%2c 888 558.46Q929.8 480.26%2c 1008 522.06Q1074.96 469.02%2c 1128 535.98Q1193.49 481.47%2c 1248 546.96Q1318.12 497.08%2c 1368 567.19Q1433.91 513.11%2c 1488 579.02z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-color: #0B1433;
   /*  background-image: url(../ReajusteTrabalhoFT/undraw_order_a_car_-3-tww\ \(1\).svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    align-items: center;
    display:flex;
    padding: 40px;
    
    

    

    
}

.div-one-titulo{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    margin-bottom: 33px;
    margin-left: 40px;
    margin-top: 50px;
    /* text-shadow: black 0.1em 0.1em 0.1em */
}
.div-one-titulo2{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 5px;
    margin-left: 40px;
}

.div-one-texto{
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.div-two{
    
    padding: 30;
    margin-top: 200px;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}

.div-two-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    margin-bottom: 300px;
    margin-top: 200px;
    display: flex;
}



nav h1{
    color: white;
}
.menu a{
    color: rgb(255, 255, 255);
}
.menu{
    font-family: 'Sarala', cursive;
    font-weight: bolder;
    
    background-color: rgb(18, 188, 137);
    position: fixed;
    top: auto;
    margin: auto;
    right: auto;
    width: 100%;
    display: block;
    align-items: baseline;
    /* align-items: center ; */
    padding: 30px; 
    
    
}

.menu-section{
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    
    
    
}


.menu-ul{
    display: flex;
    list-style: none;
    margin-right: 70px;
    gap: 50px;
}

/* teste de importação novo cabecalho do index4 antigo */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgb(18, 188, 137);
   position: fixed;
   width: 100%;
   height: 50px;
  }
  
  .cabecalho-imagem {
    height: 100px;
    /* margin-right: 400px; */
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:white;
    font-weight: 400;
    font-size: 22px;
    margin-left: 20px;
  }

.div-one-section2{
    max-width: 10%;
    max-height: 10%;
    margin-bottom: 400px;
    object-fit: cover;
    margin-left: 100px;
}

.div-one img{
    max-height: 400%;
    max-width: 400%;
    object-fit: cover;
    margin-left: 20px;
}


.div-two-title{
    display: flex;
    margin: 50px;
    padding: 30;
    border: 0;
    /* position: relative; */
    margin-top: 90px;
    margin-bottom: 33px;
    text-align: center;
    align-items: center;
    

   

}

.div-two-conteudo{
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 100px; */
    margin-bottom: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
   
    
}

.div-two p {
    font-size:larger;
    
}

.div-two img{
    object-fit: cover;
    max-height: 50px;
    max-width: 50px;
}


.div-two section{
    
    display: flex;
    gap: 50px;
    font-size: large;
    align-items:center
}




.div-three{
    background-image: url(/views/img/fundo-div-three.png);
    object-fit:cover;
    margin-top: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.div-two h1{
    margin-top: 250px;
}

.main_footer          { 

	background-color:#0B1433; 
	color:#fff; 
	font-size:0.875em; 
}

.main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
.container { float:left; width:100%; }

.colfooter { 

	width:100%; 
	height:auto; 
	float:left; 
	margin-bottom:2em;

}

.conteudo-principal-escrito-botao {
    background-color:  white;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    margin-left: 500px;
    margin-top: 80px;
  }
  
  .conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor:pointer;
    color: #fff;
  }
  

.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { text-decoration:underline; }

.colfooter .titleFooter   { 

	font-family:'open_sansregular'; 
	font-size:1.3em; 
	color:#ffffff; 
	padding-bottom: 0.5em; 
	margin-bottom:0.5em; 
	border-bottom:1px #4ec0db solid;
}

.colfooter p  { font-family:'open_sanslight'; color:#ffffff; font-size:1em; height:25px; } 

.botao{

  padding: 10px 12px;
  color: #fff;
  font-family: 'open_sansregular';
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:7px;
  
}
.botao::before {
  
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.botao:hover::before {
  
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
.botao{

    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family:'open_sansregular';
    border:1px solid #ffffff;
    border-radius:3px;
    overflow: hidden!important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}
.botao:hover{

    border: 1px solid #262626;
    color: #2adee3!important;
}
.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 
.botao::after {
 
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #2adee3;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.botao:hover::before, .botao:hover::before{
   
    opacity:1;
    width: 120%;

}
.botao:hover::after, .botao:hover::after{

    opacity:1;
    width: 150%;

}

.main_footer_copy { background-color:#0B1433; width:100%; float:left; text-align:center; padding:1.5em 0em; }
.main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:#e1e0e0; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; }
.main_footer_copy .by a:hover { text-decoration:underline; }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}

}