/* body .bg{
    background-image: var(imagem);
   /* // background-image: url(/public/img/transito3.jpg); */
    /* background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
   background-color: aquamarine;
}   

html{
    /* background-color: blue; */
    /* background-image: url(/public/img/transito3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
} */
